<form action="SaveNewClient" method="post">
    <fieldset>
        <legend>Personal information:</legend>
        Client Name:<br>
        <input type="text" name="ClientName" value="" maxlength="2"><br>
        Client Address:<br>
        <input type="text" name="ClientAddress" value=""><br>
        Client Telephone:<br>
        <input type="text" name="ClientTelephone" value=""><br>
        Client Fax:<br>
        <input type="text" name="ClientFax" value=""><br>
        Client Email:<br>
        <input type="text" name="ClientEmail" value=""><br>
        Status Id:<br>
        <input type="text" name="StatusId" value=""><br>

        <br />

        <input type="submit" value="Add New Client" />

    </fieldset>
</form>