
@{
    ViewBag.Title = "New Client";
}

<h2>New Client '@ViewBag.NewClientName' Added Succesfully!</h2>
<br />
<input type="button" value="Go Back Home" onclick="location.href='@Url.Action("Index", "Home")'" />

